services:
  jobmanager:
    image: flink:1.18-java17
    container_name: cryptotrader-jobmanager
    command: jobmanager
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
    volumes:
      - ./target/CryptoTrader-1.0-SNAPSHOT.jar:/opt/flink/job.jar
      - ./flink-conf.yaml:/opt/flink/conf/flink-conf.yaml

  taskmanager:
    image: flink:1.18-java17
    container_name: cryptotrader-taskmanager
    depends_on:
      - jobmanager
    command: taskmanager
    env_file:
      - .env
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
    volumes:
      - ./data:/data
      - ./flink-conf.yaml:/opt/flink/conf/flink-conf.yaml

  influxdb:
    image: influxdb:2.7
    container_name: cryptotrader-influxdb
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
    env_file:
      - .env
    volumes:
      - influxdb-data:/var/lib/influxdb2

volumes:
  influxdb-data:
